language: ruby
sudo: false
before_script:
  - bundle update
cache: bundler
rvm:
  - 1.9.3-p551
  - 2.0.0-p648
  - 2.1.10
  - 2.2.5
  - 2.3.1
  - ruby-head
  - jruby-19mode
  - jruby-9.1.5.0
  - jruby-head
  - rbx-2.71828182
  - rbx-3.59
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
